/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/IT-nanoni-Korab-Thaci-1.png');
  background-size: auto 100vh; 
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: rgba(255, 255, 255, 0.685);
  color: rgb(8, 22, 31);
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
  
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
 list-style: none; 
}

.menu a {
  
  display: block;
  padding: 10px 20px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) 500ms animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  from {
    transform: scale(0.9) translateY(-65vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-subtitle, 
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 4em;
  font-family: 'Gloria Hallelujah', cursive;
}

.site-subtitle {
 font-style: italic;
 font-family: 'Press Start 2P', cursive;
 line-height: 1.8em;
}

.Sobre {
  padding: 1em;
  padding-top: 55px;
  height: 75vh;
  background-color: rgb(8, 22, 31);
}
.Sobre h2{
  font-family: 'Press Start 2P', cursive;
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;
}
.img-Sobre{
  height: 250px;
  width: 250px;
}
.Sobre p{
  color: whitesmoke;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  padding: 1em;
  display: contents;
	word-wrap: break-word;
}
.Sobre .div1{
	display: inline-block;
  vertical-align: middle;
}
.Sobre .div2{
	display: inline-block;
	float: right;
	width: 75%;

}
.Contatos {
  padding: 1em;
  padding-top: 55px;
  height: 50vh;
  background-color:rgb(184, 66, 66);
  font-family: 'Press Start 2P', cursive;
  color: whitesmoke;
  font-size: 22px;
  border: 10px;
}

.Contatos .icons {
  text-align: center;
}

.Contatos a{
  color: whitesmoke;
  font-size: 3em;
  transition: text-shadow 1s;
}
.Contatos a:active,
.Contatos a:hover  {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgb(21, 0, 114);
}
